# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

data/data.db
data/data.db-journal
data/json/**/*.json


node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
data/data.db
data/data.db-journal

cycletime.js